@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/GilroyRegular.woff);
}

* {
    box-sizing: border-box;
}

.font {
    font-family: 'Gilroy', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 49px 87px 80vh auto;

    width: 100%;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #323232;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #323232;
}

#city {
    margin-left: 6.3%;

    width: auto;

    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: #FFFFFF;
}

header p:last-child {
    margin-right: 5.75vw;

    font-weight: 400;
    font-size: 1.57rem;
    line-height: 150%;

    color: #FFFFFF;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper2 {
    display: flex;
}

.wrapper2 img {
    margin-left: 6.3vw;

    width: auto;
}

.nav {
    display: flex;
    justify-self: flex-start;
}

.nav ul {
    margin: 0;
    padding: 0 0 0 2vw;
    text-align: center;

    width: auto;

    font-weight: 600;
    font-size: 1.1em;
    line-height: 150%;
}

.menu {
    display: flex;
    margin-right: 5.78vw;
}

.menu button {
    box-sizing: border-box;
    border: none;
    margin: 7px;
    height: 24px;
    width: 24px;
    border-radius: 0px;

    background-color: #FFFFFF;
}

.menu button:first-child {
    background-image: url(../images/icon_search.svg);
}

.menu button:nth-child(2) {
    background-image: url(../images/icon_heart.svg);
}

.menu button:nth-child(3) {
    background-image: url(../images/bag.svg);
}

.menu button:nth-child(4) {
    background-image: url(../images/icon_profile.svg);
}

main {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;

    width: 100%;

    background-image: url(../images/main_foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main h1:nth-child(1) {
    margin: 0;
    margin-left: 14.32%;
    margin-top: 5%;
    font-weight: 600;
    font-size: 6.5em;
    line-height: 150%;

    color: #000000;
}

main p:nth-child(2) {
    margin: 0;
    margin-left: 14.32%;

    font-weight: 600;
    font-size: 1.5em;
    line-height: 150%;

    color: #000000;
}

main a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14.32%;
    margin-top: 2%;

    width: 18.96rem;
    height: 8.31%;

    font-weight: 400;
    font-size: 1.3em;
    line-height: 150%;
    letter-spacing: 0.0375em;

    background-color: #000000;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: black;
}

button,
#city,
a,
.goods section img {
    cursor: pointer;
}

aside {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 6.3%;
    margin-right: 5.75%;
}

.description {
    display: flex;
    justify-content: space-between;
}

#cosmetics_foto {

    min-width: 40.83vw;

}

#cosmetics_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    margin-left: 2vw;
}

.about h2 {
    font-weight: 600;
    font-size: 2em;
    line-height: 130%;

    color: #000000;
}

.about p {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 150%;

    color: #000000;

}

.about span {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 150%;

    color: #CC4C6E;
}

.solids {
    display: flex;
    margin-top: 3vh;
    justify-content: space-between;
}

.benefits {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 22%;
    height: auto;
    padding: 1.2rem;

    font-weight: 400;
    font-size: 1.1em;
    line-height: 150%;
}

.new {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.new h3 {
    font-weight: 400;
    font-size: 2em;
    line-height: 130%;

    color: #000000;
}

.new div {
    align-self: center;
}

.goods {
    display: flex;
    justify-content: space-between;
}

.gel {
    font-weight: 700;
    font-size: 1em;
    line-height: 24px;
    text-transform: uppercase;

    color: #1A1A1A;
}

.body_gel {
    padding-right: 10px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 18px;

    color: #5C5C66;
}

.sell {

    font-weight: 700;
    font-size: 1.1em;
    line-height: 19px;


    color: #1A1A1A;
}

.priсe {
    padding-left: 10px;

    font-weight: 400;
    font-size: 1.1em;
    line-height: 16px;

    color: #BCBCBC;
}

.goods section {
    position: relative;
    padding-top: 76px;
}


.sticker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.91vw;
    height: 2.91vw;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;

    color: #FFFFFF;

    background-color: #FF3465;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

@media screen and (max-width:1450px) {
    .goods {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-between;
    }


    .goods section {
        margin-top: 15px;
    }
}

@media screen and (max-width:1024px) {
    .description {
        display: flex;
        flex-direction: column;
    }

    .wrapper2 img {
        display: none;
    }

    .wrapper2 {
        margin-left: 4.6%
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 49px 87px auto auto;

        width: 100%;
    }

    main {
        display: none;
    }

    aside {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .new {
        margin-top: 20px;
    }

}
