* {
    box-sizing: border-box;
}

body,
html {
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0;
}

header,
main,
aside,
footer,
section {
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 3%;
    border: 2px solid rgb(106, 73, 148);

    text-align: center;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(85, 42, 126, 0.589);
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 2.5fr 1.5fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

aside {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;

    width: 100%;
    height: 100%;
    column-gap: 10px;
    row-gap: 5px;
}

main p {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    margin: 10px;
}

main section:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin: 10px;
}

main section:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin: 10px;
}

main section:last-child {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    margin: 10px;
}

footer {
    display: grid;
    grid-template-areas: "section1 section2 section3 section4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

footer section:nth-child(1n+1) {
    margin: 25px;
}

footer section:first-child {
    grid-area: section1;
}

footer section:nth-child(2) {
    grid-area: section2;
}

footer section:nth-child(3) {
    grid-area: section3;
}

footer section:last-child {
    grid-area: section4;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    footer {
        display: none;
    }

    .container {
        grid-template-columns: 75% 25%;
        grid-template-rows: 1fr 2.5fr;
    }

}

@media screen and (min-width:200px) and (max-width: 767px) {
    footer {
        display: none;
    }
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2.5fr 1fr;
        grid-template-areas: "header"
        "main"
        "aside";
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }
    aside {
        grid-area: aside;
    }
    main section {
        flex-grow: 1;
    }
    
}